Repository open-services-group/community: changes, and which Prow jobs are due for each by the changed paths.
All: peribolos, labels, community-tools

peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /app/label_sync/app.binary \
  
        --config=labels.yaml \
  
        --orgs=open-services-group \
  
        --endpoint=http://ghproxy \
  
  ...

community-tools:
  decorate: true
  spec:
    containers:
    - image: quay.io/open-services-group/community-tooling:v0.1.0-dev
      command:
      - /generator
      volumeMounts:
      - name: github-oauth
        mountPath: /etc/github
    volumes:
    - name: github-oauth
      secret:
        secretName: oauth-token

generator: add support for stakeholder SIGs for WGs
  generator/app.go
Due: none

fix grammar mistake
  generator/app.go
Due: none

Add support for User Groups in sigs.yaml
  generator/app.go
Due: none

generator: add support for committees
  generator/app.go
Due: none

Add contact (slack, mailing_list, teams) to subprojects
  generator/app.go
Due: none

Make subproject contacts optional, nest in display
  generator/app.go
Due: none

Upgrade to gopkg.in/yaml.v3
  generator/app.go
Due: none

generator: enable validation for sigs.yaml
  generator/app.go
Due: none

Update generator to reformat sigs.yaml
  generator/app.go
Due: none

Prototype validation of sigs.yaml
  generator/app.go
Due: none

Validate same github id has same name/compay
  generator/app.go
Due: none

generator: add validation of subprojects
  generator/app.go
Due: none

generator: don't specify company for emeritus_leads
  generator/app.go
Due: none

generator: support liaisons in sigs.yaml
  generator/app.go
Due: none

generator: add githubURL, orgRepoPath funcs
  generator/app.go
Due: none

generator/app: add means for sorted and de-duped OWNERS_ALIASES
  generator/app.go
Due: none

generator: allow github and raw urls in sigs.yaml
  generator/app.go
Due: none

generator: make subproject owners links useful
  generator/app.go
Due: none

Update app.go
  generator/app.go
Due: none

chore: Generate
  OWNERS_ALIASES
  sig-data-science/README.md
  sig-list.md
  sigs.yaml
  wg-byon-build-pipelines/README.md
  wg-device-failure-prediction/README.md
Due: community-tools

feat: Add local golang generator
  .pre-commit-config.yaml
  .prow.yaml
Due: none

fixed end of file
  sig-services/service-requirements/testing.md
Due: none

Added data-collection/permission doc
  sig-services/service-requirements/data-collection-permission.md
Due: none

Add an 'epic' label
  labels.md
  labels.yaml
Due: labels

feat: Add peribolos kind/* labels for CI
  labels.yaml
Due: labels

chore: Generate
  labels.md
Due: none

Add availability-metrics.md
  sig-services/service-requirements/availability-metrics.md
Due: none

feat: Create probot-extensions repo
  github-config.yaml
Due: peribolos, labels

Add security implications requirement
  sig-services/service-requirements/security-implications.md
Due: none

sigs.yaml - update meeting times for SIG ComExp
  sigs.yaml
Due: community-tools

auto created files after changing sigs.yaml
  OWNERS_ALIASES
  sig-community-experience/README.md
  sig-list.md
  sigs.yaml
  wg-device-failure-prediction/README.md
Due: community-tools

sigs.yaml - replace non working OWNERS link
  sigs.yaml
Due: community-tools

auto update readme.md
  sig-community-experience/README.md
Due: none

feat: Add kind/guideline label to community
  labels.md
  labels.yaml
Due: labels

feat: Add probot-template repo
  github-config.yaml
Due: peribolos, labels

feat(sig-services): Add documentation guideline
  sig-services/service-requirements/documentation.md
Due: none

update DS-SIG docs to reflect Q3 team changes
  OWNERS_ALIASES
  committee-steering/README.md
  liaisons.md
  sig-data-science/README.md
  sig-list.md
  sigs.yaml
Due: community-tools

feat: Relocate Probot repositories to Operate First
  github-config.yaml
  labels.md
  labels.yaml
Due: peribolos, labels

Add VannTen (Max Gautier) as projet member
  github-config.yaml
Due: peribolos, labels

scrum repo
  github-config.yaml
Due: peribolos, labels

Path conditions:
  peribolos: (any of: github-config.yaml) or (any of: ^github-config\.yaml$)
  labels: (any of: labels.yaml) or (any of: ^(github-config|labels)\.yaml$)
  community-tools: any of: sigs.yaml
