Repository open-services-group/community: changes, and which Prow jobs are due for each by the changed paths.
All: peribolos, labels, community-tools

peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /app/label_sync/app.binary \
  
        --config=labels.yaml \
  
        --orgs=open-services-group \
  
        --endpoint=http://ghproxy \
  
  ...

community-tools:
  decorate: true
  spec:
    containers:
    - image: quay.io/open-services-group/community-tooling:v0.1.0-dev
      command:
      - /generator
      volumeMounts:
      - name: github-oauth
        mountPath: /etc/github
    volumes:
    - name: github-oauth
      secret:
        secretName: oauth-token

Introduce new member to the metrics team
  github-config.yaml
Due: peribolos, labels

Revert creation of metrics team
  github-config.yaml
Due: peribolos, labels

Create the metrics team
  github-config.yaml
Due: peribolos, labels

some cleanup, esp remove the default_branch configuration, as this is the default for GitHub now
  github-config.yaml
Due: peribolos, labels

Update WG-DevSecOps meeting details
  sig-list.md
  sigs.yaml
  wg-devsecops/README.md
Due: community-tools

Add metrics maintainers team
  github-config.yaml
Due: peribolos, labels

Add Oindrilla to leader of byon/build-pipelines
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-byon-build-pipelines/README.md
Due: community-tools

add ADR wrt OWNERS file
  .pre-commit-config.yaml
  adr/0000-use-OWNERS-rather-than-github-teams.md
  adr/template.md
Due: none

Add Shrey to SIG Services lead
  OWNERS_ALIASES
  sig-list.md
  sig-services/README.md
  sigs.yaml
Due: community-tools

update the ADR based on discussion in https://github.com/open-services-group/community/pull/46
  adr/0000-use-OWNERS-rather-than-github-teams.md
Due: none

fix some typos
  adr/0000-use-OWNERS-rather-than-github-teams.md
Due: none

Add Samuel to OSG community
  github-config.yaml
Due: peribolos, labels

Add metrics subproject to sig-data-science
  sig-data-science/README.md
  sig-list.md
  sigs.yaml
Due: community-tools

Small fix to readme
  sig-data-science/README.md
Due: none

Undo accidental overwrite of sig-services details
  sig-list.md
Due: none

Add meeting document for the metrics sub-project to sigs.yaml
  sigs.yaml
Due: community-tools

create sig community experience and autogenerated files
  OWNERS_ALIASES
  liaisons.md
  sig-community-experience/OWNERS
  sig-community-experience/README.md
  sig-community-experience/charter.md
  sig-list.md
  sigs.yaml
Due: community-tools

change ds-sig meeting time from 10 to 11
  sig-data-science/README.md
  sig-list.md
  sigs.yaml
Due: community-tools

added details to WG BYON Readme
  sigs.yaml
  wg-byon-build-pipelines/README.md
Due: community-tools

Add shreekarSS to OSG community
  github-config.yaml
Due: peribolos, labels

feat(sig-services): Introduce Peribolos as a service
  github-config.yaml
  sig-services/README.md
  sigs.yaml
Due: peribolos, labels, community-tools

:exclamation: Peribolos binaries is shifted to /ko-app/ dir
  .prow.yaml
Due: none

Update label_sync binary path
  .prow.yaml
Due: none

chore: Apply generator template changes
  sig-community-experience/README.md
  sig-data-science/README.md
  sig-services/README.md
Due: none

feat(org-gov): Share documentation on how to create a new subproject in OSG
  generator/sig_readme.tmpl
  sig-data-science/how-to-create-a-subproject.md
  sig-data-science/subproject-lifecycle.md
  subproject-lifecycle.md
Due: none

added oindrillac to byon maintainers
  github-config.yaml
Due: peribolos, labels

Add missing labels for SIGs and Working Groups
  labels.md
  labels.md.tmpl
  labels.yaml
Due: labels

feat(sig-services): Add peribolos-as-a-service mtg
  sig-list.md
  sig-services/README.md
  sigs.yaml
Due: community-tools

Improvements to subproject lifecycle doc
  subproject-lifecycle.md
Due: none

feat(sig-services): Add guideline template
  sig-services/service-requirements/.template.md
Due: none

adding gregory to open-services-group
  github-config.yaml
Due: peribolos, labels

Add Tom and Shrey to org admin
  github-config.yaml
Due: peribolos, labels

Add contract-duration requirement
  sig-services/service-requirements/contract-duration.md
Due: none

Apply feedback from Tom
  sig-services/service-requirements/contract-duration.md
Due: none

add aakankshaduggal to AIOps team
  github-config.yaml
Due: peribolos, labels

Apply feedback from Shrey
  sig-services/service-requirements/contract-duration.md
Due: none

English corrections and nits
  sig-services/service-requirements/contract-duration.md
Due: none

Remote the mention of T&Cs
  sig-services/service-requirements/contract-duration.md
Due: none

Small nit fix
  sig-services/service-requirements/contract-duration.md
Due: none

feat(sig-services): Create add or remove user requirement
  sig-services/service-requirements/add-or-remove-user.md
Due: none

Path conditions:
  peribolos: (any of: github-config.yaml) or (any of: ^github-config\.yaml$)
  labels: (any of: labels.yaml) or (any of: ^(github-config|labels)\.yaml$)
  community-tools: any of: sigs.yaml
